<%= link_to "Back to Boards", boards_path %>
<h1><%= @board.name %></h1>
<hr />
<%= link_to 'Add list', new_board_list_path(@board) %>
<h2 class="ui header">Your Lists</h2>
<% @lists.each do |list| %>
  <%= link_to list.name, [@board, list] %> |
<% end %>
